<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
</head>
<body>
    <div class="container">
        <div class="form-box">
            <h1>The Forum</h1>
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
            <form action="/register" method="POST">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Name">
                <input type="text" name="email" placeholder="Email"><br>
                <input type="password" name="password" placeholder="Password">
                <input type="password" name="password_conf" placeholder="Confirm Password"><br>
                <button type="submit">Create Account</button><br><br>
                <p><a href="/">Go Back</a></p>
            </form><br>
        </div>
    </div>
</body>
</html>